.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-bottom: 80px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 935px;
    left: 82px;
    bottom: -60px;
}
.mCustomScrollBox {
    overflow: unset;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    width: 97.9px !important;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    margin: 0px auto;
    background: #6D6D6D;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    height: 2px;
    margin: -3px 0;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
    height: 4px !important;
    background: #cccccc;
    border-radius: 12px;
    top: 15px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    left: -80px;
 
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    float: left;
    position: relative;
    left: -47px;
 
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
 .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    top: 5px;
    opacity: 1;
    width: 24px !important;
    height: 24px !important;
    background-position: center;
    border: 1px solid #FF7E00;
    border-radius: 50%;
 }
 .mCSB_scrollTools .mCSB_buttonLeft{
    background-image: url("../img/left.png");
 }
 .mCSB_scrollTools .mCSB_buttonRight{
    background-image: url("../img/right.png");
 }
 .mCSB_scrollTools {
    opacity: 1;
 }
 .mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
    margin: 0px 0px;
}
