nav {
  /* width: 1578.46px; */
  height: 90.26px;
  padding: 23px 80px !important;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #f58923;
}
.navbar-collapse {
  flex-basis: auto;
  flex-grow: 0;
  align-items: center;
}
.logo img {
  width: 235.46px;
  height: 44.26px;
}

.logo span {
  font-weight: bold;
  color: #2a3d8d;
  font-size: 1.2em;
}

.navbar-nav .nav-link {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  text-transform: uppercase;
}

.navbar .navbar-nav {
  gap: 34px;
  align-items: center;
  justify-content: space-between;
}
.navbar > .container-fluid {
  padding: 0;
  align-items: center;
}
.dropdown-menu a {
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f58923;
  color: #fff;
}
.search .form-control:focus {
  box-shadow: none;
}
.search .search-bar {
  border-radius: 20px;
  width: 240px;
  height: 40px;
  border: 1px solid #f58923;
  border-radius: 20px;
}
.search-bar {
  background-image: url(../img/Group.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 13px;
  padding-top: 10px;
  background-size: 13.59px;
}
.search-bar::placeholder{
  font-size: 12px;
  line-height: 14.4px;
  margin-bottom: 13px !important;
}
.search {
  margin-left: 30px;
}
.hero {
  background-image: url("../img/rect117.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 1;
}

.hero .container {
  width: auto;
  max-width: 100%;
  position: absolute;
  left: 200px;
  /* left: 12rem; */
  /* top: 50%; */
  top:334px;
  transform: translateY(-50%);
  text-align: left;
  padding: 0 15px;
  z-index: 2;
}
.banner-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  border-radius: 8px;
}

/* 16-12-24 */

.navbar .navbar-nav .nav-link {
  padding: 0;
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .nav-link {
  padding-top: 7px;
  transition: padding 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
  padding-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1440px){
  .navbar-expand-lg .navbar-nav {
    gap: 21px;
}
.search {
  margin-left: 18px;
}
}
@media screen and (max-width: 768px) {
  .navbar-collapse {
    display: flex;
    align-items: center !important;
    z-index: 3;
    background: #fff;
    position: relative;
    left: 10px;
    padding: 15px;
  }
  nav {
    height: 115px !important;
    padding: 7px 10px !important;
  }
  .search .search-bar {
    display: inline;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar {
    padding: 10px 30px !important;
  }
  .search {
    margin-left: 0;
  }
}
