/* Ipad pro */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo img {
    width: 150px;
    height: 30px;
  }
  nav {
    /* padding: 23px 20px !important; */
    padding: 23px 80px !important;
  }
  .navbar-nav .nav-link {
    font-size: 12px;
  }
  .navbar-expand-lg .navbar-nav {
    gap: 10px;
  }
  .search .search-bar {
    width: 130px;
    height: 20px;
    padding: 0 12px 5px;
    background-size: 12px;
  }

  .navbar-nav .nav-link {
    padding-top: 0;
  }
  .navbar-nav .dropdown-menu {
    top: 54px;
  }
  .search-bar {
    top: -1px;
  }
  .search-bar {
    background-position-x: 105px;
  }
  .dropdown-menu .inner-sub-menu {
    top: -1px !important;
  }
  .hero .container {
    position: absolute;
    left: 2rem;
  }

  .about-text-center {
    width: 700px;
    height: 400px;
  }
  .about .about-text {
    right: 25px !important;
  }
  .about-image {
    padding-left: 0;
  }
  .about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pilar-card-img {
    height: auto;
  }
  .what-we-do {
    height: 600px;
  }
  .what-we-do::before {
    max-height: 550px;
  }
  .what-we-do .container {
    top: 11.5rem;
  }
  .whats-new .news-container {
    left: 1rem;
  }
  .whats-new .card-container {
    width: auto;
    max-width: 100%;
    left: 0;
  }
  .line-section img {
    max-width: 100%;
  }
  .resource .resource-container {
    max-width: 100%;
    left: 1rem;
  }
  .info-card p {
    min-height: 12vh;
  }
  /* footer */
  .newsletter-form input {
    padding: 12px 14px;
  }
  .copy-rights {
    margin-left: 1rem;
  }
  .search-bar::placeholder {
    font-size: 11.5px;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  .home-page-body .container {
    max-width: 100%;
    width: auto;
    padding: 0 25px;
  }
  .resource {
    height: 970px;
  }
  .info-section-pattern {
    padding-bottom: 80px;
  }
  .footer-collection {
    gap: 5px;
  }
  .footer-logo img {
    margin-left: 0;
    padding-left: 0;
  }
  .country-flags {
    margin-right: 0;
  }
  .copy-rights {
    margin-left: 0;
  }
  .whats-new .card-gap {
    gap: 22px;
  }
  .navbar-expand-lg .navbar-collapse {
    padding-top: 10px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 760px;
    bottom: -65px;
  }
  .button-section {
    top: 43.4rem;
    right: 20px;
  }
  .resource-card .resource-card-img img {
    width: 305px;
    height: 320px;
  }
  .resource-card-container .col {
    width: 305px;
  }
  .resource-card .card-body {
    min-height: 18vh;
  }
  .resource-button-section {
    margin-top: 12px;
  }
  .info-section .info-section-card-width {
    width: 33.33333333%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  /* .country-flags {
    margin-right: 0;
  }
  .copy-rights {
    margin-left: 0;
  } */
  .what-we-do .container {
    top: 190px;
  }

  .whats-new .card-container {
    overflow: visible;
  }
}
/* Ipad air */
@media only screen and (min-width: 820px) and (max-width: 1180px) {
  .footer-location-align {
    width: 290px;
  }
  .tab-width-subscribe {
    width: 372px;
  }
  .footer-collection {
    justify-content: unset;
    gap: 7px;
  }
  .footer-logo img {
    margin-left: 0;
    padding-left: 0;
  }
  .copy-rights {
    margin-left: 0;
  }
  .country-flags {
    margin-right: 0;
  }
  .info-section .justify-content-center {
    padding: 0 18px;
  }
  .about-image {
    padding-left: 5px;
  }
  .about .about-text {
    right: 30px !important;
  }
  .card-gap {
    gap: 50px;
  }
}
/* Tablet and ipads */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-text-center {
    width: 500px;
    height: auto;
  }
  .about .about-text {
    right: 0;
    padding: 50px 40px 50px 84px;
  }
  .about-text::before {
    height: 412px;
  }
  .whats-new .card-container {
    width: auto;
    position: absolute;
    left: 0;
  }
  .whats-new .news-container {
    width: auto;
    position: absolute;
    left: 0;
    padding: 0 25px;
  }
  .line-section img {
    width: auto;
    max-width: 100%;
  }
  .hero .container {
    position: absolute;
    left: 2rem;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0 25px !important;
  }

  .resource {
    max-height: 100%;
    height: auto;
  }
  .pilar-card-img {
    height: auto;
    max-height: 100%;
  }
  .piller-count p:last-child {
    font-size: 12px;
  }
  .piller-count p:first-child {
    font-size: 24px;
    line-height: 32.76px;
  }
  .pilar-title h5 {
    font-size: 16px;
  }
  .pilar-card-cont {
    gap: 6px;
  }
  .what-we-do .container {
    width: auto;
    max-width: 100%;
  }
  .what-we-do {
    height: 500px;
  }
  .what-we-do::before {
    max-height: 450px;
  }
  .what-we-do .container {
    left: 0;
    top: 9rem;
  }
  .whats-new {
    padding: 95px 0 0;
  }
  .whats-new {
    height: 865.9px;
  }
  .info-card h3 {
    font-size: 30px;
    margin-bottom: 1.8rem;
    width: 7ch;
  }
  .info-section-pattern {
    margin-bottom: 3rem;
  }
  .info-card {
    height: 100%;
  }
  .info-card .vertical-bar {
    top: 60px;
  }
  .info-card p {
    /* min-height: 24vh; */
    min-height: auto;
  }
  .info-section .info-section-card-width {
    padding: 0;
  }
  .info-section .justify-content-center {
    justify-content: unset !important;
    gap: 20px;
  }

  /* footer */
  .tab-width {
    width: auto;
  }
  .tab-width-subscribe {
    width: auto;
    max-width: 100%;
    margin-top: 0;
  }
  .footer-logo img {
    margin-left: 0;
    padding-left: 0;
  }
  .social-icons {
    margin-top: 3rem;
    padding-bottom: 1rem;
  }
  .copy-rights {
    margin-left: 0;
  }
  .country-flags {
    margin-right: 0;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
    justify-content: flex-end;
    display: grid;
    height: auto;
    background: #fff;
    max-height: max-content;
    position: fixed;
    right: 0px;
    top: 90px;
    width: 100%;
  }
  .footer-collection {
    justify-content: unset;
    gap: 70px;
    padding-bottom: 48px;
  }
  /* footer end */
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 530px;
  }
  .button-section {
    right: 15px;
  }
  .resource-card-width {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 10px;
  }
  .resource-card-container .col {
    margin-top: 0;
  }
  .resource-button-section {
    float: unset;
    text-align: center;
  }
}

/************  Mobiles *****************/
@media screen and (max-width: 767px) {
  /* Header */
  .search .search-bar {
    width: 185px;
    height: 30px;
  }

  /* End */
  /* Hero */
  .hero {
    height: 260px;
  }

  .hero h1 {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .hero .container {
    left: 1rem;
    top: 48%;
    width: auto;
  }

  .hero p {
    font-size: 14px;
    margin-bottom: 20px;
    width: 31ch;
  }

  /* End */
  /* About */
  .main-title {
    font-size: 26px;
    line-height: normal;
  }

  .about .container {
    width: auto;
    height: 650px;
  }

  .about {
    padding: 70px 0 0;
  }

  .about .about-text {
    position: relative;
    right: 0;
    left: 0;
    top: -6rem;
    z-index: 3;
    padding: 25px 15px 20px 50px;
  }

  .about-text::before {
    background-size: 40px 100%;
    left: 0px;
  }

  .about .about-text p {
    padding: 14px 0 14px 0;
    font-size: 17px;
  }
  .about-text-center {
    height: auto;
  }

  .what-we-do .container {
    left: 0;
    top: 50%;
  }

  .pilar-cards-div {
    display: grid;
    top: 356px;
  }

  .what-we-do {
    height: 356px;
  }

  .what-we-do::before {
    max-height: 100%;
  }

  .whats-new {
    top: 0;
  }

  .whats-new .news-container {
    left: 0;
    z-index: 0;
    top: 8rem;
    padding: 0 15px;
  }

  .whats-new .card-container {
    position: relative;
    left: 0;
    top: 27rem;
    width: auto;
  }

  .whats-new {
    position: relative;
    height: 100%;
    top: 98rem;
    z-index: 3;
    padding: 7rem 0px 10rem;
  }

  .resource {
    height: 100%;
    overflow: hidden;
    z-index: 3;
    position: relative;
    top: 98rem;
  }

  .arrow-container {
    flex-direction: column;
    width: auto;
    padding-right: 0;
  }

  .line-section {
    display: none;
  }
  .line-section {
    max-width: 100%;
    width: auto;
  }
  .col-card-width {
    margin-top: 10px;
  }

  .resource .resource-container {
    left: 0;
    top: 3rem;
    padding: 0 15px;
    margin-bottom: 5rem;
  }

  .resource .card {
    width: 352px;
  }

  .info-section {
    z-index: 3;
    top: 97rem;
  }

  .info-section .container {
    width: auto;
    padding: 3rem 1rem 0rem;
  }

  .info-card {
    margin-bottom: 15px;
  }
  .partners {
    top: 97rem;
    position: relative;
  }
  .home-page-body .site-footer {
    position: relative;
    top: 95rem;
  }
  /* footer*****************/

  .footer-bottom {
    display: grid;
    justify-content: center;
  }

  .copy-rights {
    margin-left: 0;
  }

  .social-icons {
    margin-top: 0rem;
    padding-bottom: 2rem;
  }

  .subscribe {
    margin-top: 2rem;
  }

  .footer-logo img {
    margin-left: 28px;
    padding-left: 0;
  }

  .m-by {
    padding-bottom: 1rem !important;
  }

  .copyrights .container {
    padding-bottom: 25px;
  }

  .country-flags {
    display: flex;
    justify-content: center;
  }

  .newsletter-form input {
    flex: 1;
    padding: 15px 20px;
  }

  .about-image {
    padding-left: 0;
  }
  .about-image .img-fluid {
    height: auto;
  }
  .about-text::before {
    height: 282px;
  }
  .about .container {
    height: 620px !important;
  }
  .whats-new .container {
    padding: 0px 17px !important;
  }
  .card-gap .col-card-width {
    width: 356px !important;
    height: 520px !important;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 175px;
    left: 75px;
    bottom: -35px;
  }
  .button-section {
    margin-top: 12px;
    position: relative;
    top: 56px;
    right: 5px;
    float: right;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    left: -40px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    left: -70px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    left: 70px;
  }
  .whats-new {
    padding: 7rem 0px 7rem !important;
  }
  .footer-location-align,
  .quick-links-section {
    width: auto;
  }
  .country-flags {
    margin-right: 0px;
  }
  .resource-card-width {
    grid-template-columns: repeat(1, 1fr);
  }
  .resource-card-container .col {
    padding: 0 10px;
  }
  .resource-card-container {
    width: auto;
  }
  .resource-button-section {
    float: unset;
    text-align: center;
  }
  /* End */
}

/* surface duo lanscap */
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .about .container {
    height: auto !important;
  }
  .whats-new .container {
    padding: 0px 17px !important;
    max-width: 100%;
  }
  .whats-new .card-gap .col-card-width {
    width: 328px !important;
  }
  .whats-new .card-gap {
    gap: 38px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 500px;
  }
  .button-section {
    right: 15px;
  }
  .resource .resource-container {
    max-width: 100%;
  }
  .resource-card-container {
    max-width: 100%;
    padding: 0 25px;
  }
  .resource-card-width {
    display: flex;
    justify-content: center;
    gap: unset;
  }
  .resource-button-section {
    float: unset;
    text-align: center;
  }
  .footer-logo img {
    margin-left: 70px;
  }
  .pilar-cards-div {
    display: flex;
    top: 230px;
  }
  .whats-new {
    overflow: hidden;
  }
  .whats-new {
    top: 48px;
  }
  .what-we-do .container {
    top: 100px;
  }
  .pilar-card-cont {
    gap: 10px;
  }
  .pilar-title h5 {
    font-size: 12px;
    line-height: 17.2px;
  }
  .piller-count p:first-child {
    font-size: 19px;
    line-height: 26.76px;
  }
  .piller-count p:last-child {
    font-size: 12px;
  }
  .piller-count-bg {
    background-size: 70px;
  }
  .resource,
  .info-section,
  .partners,
  .home-page-body .site-footer {
    top: 50px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -50px;
  }
  .button-section {
    top: 65px;
  }
  .about-text::before {
    height: 255px;
  }
  .about .about-text {
    top: -9rem;
  }
  .about .container {
    height: 685px !important;
  }
  .about .about-text {
    padding: 25px 15px 35px 62px;
  }
  .about-text::before {
    left: 10px;
  }
  nav {
    height: 90px !important;
  }
}

/* Sueface due */
@media only screen and (min-width: 539px) and (max-width: 540px) {
  .whats-new .card-container {
    /* top: 60rem; */
    top: 442px;
  }
  .resource .resource-container {
    top: 2rem;
  }
  .about .container {
    width: auto;
    height: 755px;
    max-width: 100%;
  }
  .about .about-text {
    padding: 25px 15px 35px 50px;
  }
  .pilar-cards-div {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card-container .col-card-width,
  .resource-card-container .col {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .resource-card-container {
    width: auto;
    max-width: 100%;
  }
  .resource-button-section {
    float: none;
    text-align: center;
    margin-bottom: 22px;
  }
  .quick-links {
    justify-content: flex-start;
    padding-left: 10px;
  }
  .footer-location-align {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .footer-logo img {
    margin-left: 5px;
  }
  .site-footer p {
    margin-top: 0;
  }
  .footer-collection {
    justify-content: unset;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 330px;
  }
  .resource-card-width {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-logo img {
    padding-left: 0;
  }
  nav {
    height: 90px !important;
  }
  .about .about-text {
    top: -10rem;
  }
  .about-text::before {
    height: 254px;
  }
  .about {
    padding: 70px 0 45px;
  }
}
/* smaller mobile */
@media only screen and (max-width: 430px) {
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: 210px;
  }
}
