.sidebar {
  position: sticky;
  top: 14rem;
  left: 10rem;
  width: 250px;
  height: 0;
  padding-top: 20px;
}

.content-section {
  margin-top: 0;
}
.content-section:first-of-type {
  margin-top: 0; 
}
.nav-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sidebar .menu-item {
  display: block;
  padding: 15px 0px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: border-bottom 0.3s, color 0.3s;
}

.nav-sidebar .menu-item:hover {
  background-color: #ddd;
  color: #000;
}

.nav-sidebar .menu-item.active {
  border-bottom: 2px solid #f58923;
  color: #000;
}
.sidebar ul {
  margin-top: 3rem;
  list-style: none;
}

/*  */
.common-left-aside.fixed {
  position: fixed;
  top: 110px;
  left: calc(50% - 570px);
}
.common-left-aside.bottom {
  bottom: 80px;
  top: auto;
  position: absolute;
}
.common-left-aside {
  position: absolute;
  /* top: 0; */
  float: left;
  max-width: 240px;
  cursor: default;
}
.common-left-aside {
  z-index: 2;
}
.menu-item.active {
  color: #007bff; /* Active menu item color */
  font-weight: bold; /* Optional, to highlight active menu item */
}