body,
h1,
h2,
h3,
p,
img,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Buttons */
.pre-btn {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  border-radius: 0;
  font-size: 12px;
  line-height: 14.4px;
  width: 104.2px;
  height: 32px;
}
.pre-btn:hover {
  border: 1px solid #e64a19;
  color: #fff;
  background: #e64a19;
  border-radius: 0;
  outline: none;
}

.black-btn {
  text-transform: capitalize;
  color: #123a3a;
  border: 1px solid #123a3a;
  width: 138.2px;
}
/* Headings */
.main-title {
  font-size: 40px;
  line-height: 48px;
  color: #123a3a;

}
.section-title h1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 30px;
  /* padding: 10px; */
}
.section-title p {
  font-size: 18px;
}
/* Hero Section */

.hero h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 23px;
  font-weight: 700;
}
.hero p {
  font-size: 22px;
  /* margin-bottom: 35px; */
  margin-bottom: 37px;
  line-height: 26.4px;
}
.cta {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: #ff5722;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.cta:hover {
  background: #e64a19;
}

/* About Section */
.about {
  padding: 98px 0;
  background: #edf4f3;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1140px;
}
.about .about-text {
  flex: 1;
  color: #4d4d4d;
  position: absolute;
  /* right: 200px; */
  right: 174px;
  z-index: 3;
  padding: 40px 60px 51px 72px;
  margin-bottom: 1px;
  /* padding: 50px 62px 50px 84px; */
}
.about .about-text p {
  padding: 20px 0 39px 0;
  font-size: 18px;
  line-height: 21.6px;
}
.about-text-center {
  /* width: 809.9px; */
  width: 797.9px;
  height: 329.7px;
  background-color: #ffffff;
}
.about .flex-grow-1 {
  flex-grow: 1 !important;
  display: flex;
  justify-content: center;
}

.about-text {
  position: relative;
  padding-left: 50px;
}

.about-text::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 13px;
  width: 40px;
  /* height: 99%; */
  height: 325.6px;
  background-image: url("../img/left-border.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.about-image{
  padding-left: 21px;
}
.about-image .img-fluid {
  width: 524px;
  height: 524px;
}
.about-text .main-title {
  /* padding: 10px 0; */
}
/* What we do */
.what-we-do {
  /* background-image: url("../img/what-we-do.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 782px;
  display: flex;
  align-items: end;
}
.what-we-do::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      90deg,
      rgba(0, 59, 0, 0.9) 0%,
      rgba(0, 65, 0, 0.8252) 18.69%,
      rgba(0, 81, 0, 0.7278) 43.05%,
      rgba(0, 108, 0, 0.6178) 70.54%,
      rgba(0, 145, 0, 0.5) 100%
    ),
    url("../img/what-we-do.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  max-height: 682px;
  /* max-height: 720px; */
}

.what-we-do .container {
  width: auto;
  position: absolute;
  left: 200px;
  top: 150px;
  transform: translateY(-50%);
  text-align: left;
  padding: 0 15px;
  z-index: 2;
}

.pilar-cards-div {
  position: absolute;
  /* z-index: 3; */
  z-index: 2;
  display: flex;
  gap: 7px;
}
.sub-pilar-card {
  display: flex;
  justify-content: center;
  align-items: end;
}

/* pilar */
/* Main card container */
.pilar-main {
  flex: 1 1 calc(25% - 10px);
  max-width: 390px;
  position: relative;
  text-align: left;
  /* box-sizing: border-box; */
}

/* Image container with overlay */
.pilar-card-img {
  position: relative;
  width: 100%;
  /* height: 390px; */
  height: auto;
}

.pilar-card-img img {
  width: 100%;
  height: 100%;
}

.pilar-card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    176.63deg,
    rgba(0, 0, 0, 0) 2.4%,
    rgba(0, 0, 0, 0.8) 96.75%
  );
  z-index: 1;
}

/* Content overlay on the image */
.pilar-card-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 20px 26px; */
  padding: 58px 26px 21px 41px;
  color: white;
  z-index: 2;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: none;
}

/* Count container */
.piller-count {
  text-align: center;
  color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  top: 10px;
}

/* Title styling */
.pilar-title h5 {
  margin: 0;
  font-size: 21px;
  line-height: 25.2px;
}

.piller-count-bg {
  background-image: url("../img/circle2572.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 86px;
  height: 86px;
}
.piller-count p:first-child {
  font-size: 32px;
  font-weight: 900;
  line-height: 38.76px;
}
.piller-count p:last-child {
  font-size: 14px;
  font-weight: 900;
  line-height: 16.8px;
}

/* end */
/* Whats-new */

.whats-new {
  background: #0f0f0e;
  position: relative;
  height: 922.9px;
  /* height: 850.9px; */
}

.whats-new .news-container {
  width: auto;
  position: absolute;
  left: 200px;
  top: 126px;
  transform: translateY(-50%);
  text-align: left;
  z-index: 2;
}
.whats-new .card-container {
  width: auto;
  position: absolute;
  left: 198px;
  top: 532px;
  transform: translateY(-50%);
  text-align: left;
  padding-right: 0;
  overflow: hidden;

}

.whats-new {
  padding: 95px 0;
  color: white;
  overflow: hidden;
}

.card-gap {
  width: 354px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
}
.card-gap .col-card-width{
  padding: 0;
  width: 356px;
  height: 520px !important;
}
.whats-new .card-container .card {
 border: none;
}
.card-container .card img {
  max-width: 356px;
  border: none;
}

.date-card {
  border-bottom: 1px solid #f58923;
  padding-bottom: 18px;
  /* margin-bottom: 24px; */
}
.card-body {
  color: #0f0f0e;
  padding: 30px;
}
.card-body .date-card {
  color: #123a3a;
  font-size: 16px;
  line-height: 19.2px;
}
.card-body .card-title {
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 35px;
}
.resource-card .card-body .card-title {
  padding-top: 13px;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.resource-card .card-body .date-card {
  margin-bottom: 0;
}
.card-button a {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.card {
  border: none;
}
.read-more {
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  line-height: 14.4px;
}
.read-more:hover{
  color: #FF7E00;
}
.read-more::after {
  content: url("../img/Union.png");
  display: inline-block;
  margin-left: 10px;
  transform: scale(0.9);
  /* transform: scale(1.2, 1); */
}
.info-card .learn-more:hover{
  /* color: #000; */
}
.button-section {
  margin-top: 12px;
  position: relative;
  top: 43rem;
  right: 170px;
  float: right;
  width: auto;
  max-width: 100%;
}

.left-arrow-hover {
  transform: rotate(-90deg);
  width: 35px;
  height: 35px;
}

.button-section .rd-more {
  border: 1px solid #ff7e00;
  color: #ff7e00;
  width: 84.2px;
  height: 32px;
  margin-right:10px;
}
.button-section .rd-more:hover {
  border: 1px solid #ff7e00;
  background-color: #ff7e00;
  color: #fff;
}
.card-gap .col-card-width:first-child {
padding-left: 15px;
}
/* What new End ************************/

/* Resource Section */
.resource {
  background: #f9f9f9;
  height: auto;
  /* height: 970px; */
  overflow: hidden;
}
.resource .resource-container {
  position: relative;
  left: 95px;
  top: 36px;
  margin-bottom: 5rem;
}

.resource-card-container {
  width: 1140px;
}
.resource-card img {
  border-radius: 12px;
  height: 352px;
}

.resource-card .card-body {
  box-shadow: 0px -10px 40px 0px #00000040;
}

.resource-button-section {
  float: right;
  margin-bottom: 16px;
  margin-top: 38px;
}
.resource-button-section .v-all {
  border: 1px solid #000;
  color: #000;
}
.resource-button-section .v-all:hover {
  border: 1px solid #e64a19;
  background: #e64a19;
  color: #fff;
}
.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resource-card-container .col{
  width: 360px;
  height: 552px;
  padding: 0;
}
.resource-card-width{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.resource-pattern img{
height:52px
}

/* .resource-card {
  width: 360px;
  height: 552px;
} */
/* START */

/* General Card Styling */
.resource-card {
  background-color: #f5f5f5;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px #00000026;
}

/* Card Image Section */
.resource-card .resource-card-img img {
  width: 360px;
  height: 362px;
  display: block;
  margin-bottom: -40px;
}

/* Card Body Styling */
.resource-card .card-body {
  padding: 22px 45px 35px 45px;
  border-radius: 12px;
  background-color: #f2f2f2;
  position: relative;
}

.resource-card .date-separator {
  border: none;
  border-top: 2px solid #ff8c00;
  width: 40px;
  margin: 8px 0;
}

/* END */

/* Package section */

/* Section Styling */
.info-section {
  background: url("../img/info-bg.png") no-repeat center center/cover;
  position: relative;
  padding: 0 0 65px;
}

.info-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 125, 0, 85%);
  z-index: 1;
}

.info-section .container {
  position: relative;
  z-index: 2;
  width: 1140px;
  padding: 148px 0 116px;
}

/* Card Styling */
.info-card {
  width: auto;
  max-width: 100%;
  background: none;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 47px 35px 46px 32px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.info-card h3 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
  width: 12ch;
}

.info-card p {
  font-size: 18px;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1.6rem;
}

.info-card .vertical-bar {
  position: absolute;
  top: 55px;
  left: 0;
  width: 10.6px;
  height: 79.4px;
  background: #000; /* Black vertical bar */
}

.info-card .learn-more {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.info-card .learn-more::after {
  content: url(../img/g287.png);
  display: inline-block;
  margin-left: 10px;
  transform: scale(0.9);
}

.info-section-pattern {
  height: 58px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.info-section .info-section-card-width{
  width: 360px;
    height: 390px;
}
/* Members */

.member-states {
  padding: 10px 0;
  margin-top: 32px;
}
.partners .section-title h1{
  padding: 10px 0;
}
.development-partners-section {
  margin-top: 72px;
}
.partners {
  padding: 142px 0 134px 0;
  background: #fff;
  text-align: center;
}
.partners-logos img {
  max-width: 150px;
  margin: 10px;
}
.partners .section-title h1 {
  color: #123a3a;
}
.development-partners {
  margin-top: 30px;
}
.regional-organizations {
  margin-top: 72px;
}
.regional {
  margin-top: 40px;
}
/* Custom Scorller */

  .mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
    /* width: 97px; */
  }
  .mCSB_dragger{
    /* max-width: 97px !important; */
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #CCCCCC !important;
  }
/* 

  .mCSB_draggerRail {
    /* display: none; 
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 6px;
    margin: 0px auto;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  height: 6px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  width: 948.8px;
}

.mCustomScrollBox {
 overflow: unset; 
} */
